@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Bryndan Write", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc; 
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    display: grid;
    position:sticky;
    top: 0;
    z-index: 9999;  
    background-color: #FFFFFF; 
    border-bottom: 2px solid #FF851B;
}

.top-nav {
  overflow: hidden;
}

.top-nav a {
  float: left;
  color: #111111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.top-nav a:hover {
  background-color: #0074D9;
  color: #FFFFFF;
}


.top-nav a.active {
  background-color: #FF851B;
  color: #FFFFFF;
}

.top-nav a.active:hover {
  color: #111111; 
}

.banner-image {
    height: auto; 
    width: auto;
    max-width: 100%;
    max-height: 400px;
}
