@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

/* KI_BEGIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* KI_END */

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: black;
}

main {
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #0074D9;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;    
    margin-bottom: 50px;
    line-height: 1.5; 
}

h2 {
    font-family: sans-serif;
    color: #0074D9;
    font-size: 30px;
    margin-top: 20px;    
    margin-bottom: 20px; 
}

p {
    font-family: sans-serif;
    margin-top: 20px;    
    margin-bottom: 20px;
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    max-width: 1000px;        
    margin-left: auto;   
    margin-right: auto;
}

.title-name {
    text-align: center;
    color: #0074D9;
}

.title-contact {
    text-align: center;
    font-size: 80%;
}

.text-popup p {
    margin-top: 0.3em;
    text-align: center;
}
.contact-info {
  font-size: 80%;
  line-height: 1.4;
}



header {
    display: grid;
    grid-template-columns: 80% 20%;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #FFFFFF;
    border-bottom: 2px solid #FF851B;
}

.top-nav {
    overflow: hidden;
}

.top-nav a {
    float: left;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* KI_BEGIN */
.top-nav a:hover {
    background-color: #0074D9;
    color: #FFFFFF;
}

/* KI_END */

.top-nav a.active {
    background-color: #FF851B;
    color: #FFFFFF;
}

.top-nav a.active:hover {
    color: #111111;
}


article {
    margin-top: 0.5em;
}

#map {
    width: 100%;
    height: 85vh;
    border: 1px solid gray;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
}

footer nav {
    display: inline-block;
}

.aws-div-icon span{
    font-size: 1em;
    color: #111111;
    font-weight: bold;
    padding: 0.3em;
    transform: translate(-30%, -50%);
    display: inline-block;
    border-radius: 0.5em;
    }

.aws-div-icon-wind span{
    font-size: 1em;
    color: #111111;
    font-weight: bold;
    padding: 0.3em;
    transform: translate(-30%, -50%);
    display: inline-block;
    border-radius: 0.5em;
}

.aws-div-icon-snow span{
    font-size: 1em;
    color: #111111;
    font-weight: bold;
    padding: 0.3em;
    transform: translate(-30%, -50%);
    display: inline-block;
    border-radius: 0.5em;
}